<table class="responsive-table">
  <thead>
  <tr>
    <th>Column 1</th>
    <th>Column 2</th>
    <th>Column 3</th>
    <th>Column 4</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td data-th="Column 1">{{ headline.medium }}</td>
    <td data-th="Column 2">10k</td>
    <td data-th="Column 3">10</td>
    <td data-th="Column 4">20</td>
  </tr>
  <tr>
    <td data-th="Column 1">{{ headline.long }}</td>
    <td data-th="Column 2">5k</td>
    <td data-th="Column 3">200</td>
    <td data-th="Column 4">400</td>
  </tr>
  <tr>
    <td data-th="Column 1">{{ headline.short }}</td>
    <td data-th="Column 2">500k</td>
    <td data-th="Column 3">5000</td>
    <td data-th="Column 4">10000</td>
  </tr>
  <tr>
    <td data-th="Column 1">{{ headline.medium }}</td>
    <td data-th="Column 2">10,000k</td>
    <td data-th="Column 3">12m</td>
    <td data-th="Column 4">24m</td>
  </tr>
  </tbody>
</table>
