////
/// @group recirc-list
////

.recirc-list {
  padding-left: 0;
  list-style-type: none;
  counter-reset: recirc-list-counter;
}

.recirc-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  max-width: 30em;
  &:before {
    display: block;
    flex-basis: 5%;
    margin-right: 0.5em;
    font-size: get-font-size(1);
    font-weight: bold;
    content: counters(recirc-list-counter, ".");
    counter-increment: recirc-list-counter;
  }
  .list-item__title {
    flex-basis: 65%;
  }
  .thumbnail-square {
    flex-basis: 30%;
    margin-left: 0.5em;
    max-width: 5em;
  }
}
