<div class="checkboxes">
  <input type="checkbox" id="checkbox-1" checked="checked"> <label class="option" for="checkbox-1">Nam tincidunt duis </label>
  <input type="checkbox" id="checkbox-2"> <label class="option" for="checkbox-2">Aliquam lorem neque </label>
  <input type="checkbox" id="checkbox-3"> <label class="option" for="checkbox-3">Duis lobortis egestas </label>
  <input type="checkbox" id="checkbox-4"> <label class="option" for="checkbox-4">Lacinia ac cras </label>
  <input type="checkbox" id="checkbox-5"> <label class="option" for="checkbox-5">Mi dignissim viverra </label>
</div>
