<div class="font-families">
  {{# fonts }}
    <div class="font-stack">
      <h2>{{ name }}</h2>
      <dl style="font-family: {{ value }}">
        <div class="font-style">
          <dt>Normal</dt>
          <dd>Lorum ipsum dolor sit amet</dd>
        </div>
        <div class="font-style">
          <dt>Bold</dt>
          <dd style="font-weight: bold">Lorum ipsum dolor sit amet</dd>
        </div>
        <div class="font-style">
          <dt>Italic</dt>
          <dd style="font-style: italic">Lorum ipsum dolor sit amet</dd>
        </div>
      </dl>
      <div class="scss-example">
        <pre><code>font-family: get-font({{ name }});</code></pre>
      </div>
    </div>
  {{/fonts}}
</div>

