<header class="article-header">
  {{#rubric}}
    {{> element-rubric }}
  {{/rubric}}
  {{#title}}
    {{> element-title }}
  {{/title}}
  {{#dek}}
    {{> element-dek }}
  {{/dek}}
  {{#byline}}
    {{> element-byline }}
  {{/byline}}
  {{#dateline}}
    {{> element-dateline }}
  {{/dateline}}
</header>
