<p>fluff traffic finishes flowers truffles establish</p>


<h2>Normal</h2>
<table style="font-style: normal" summary="Serif table">
  <thead>
  <tr><th scope="col">Character</th><th scope="col">Ligature</th><th scope="col">Numeric reference</th></tr>
  </thead>
  <tbody>
  <tr><td class="definition">ff</td><td>ﬀ</td><td><code>&amp;#64256;</code></td></tr>
  <tr><td class="definition">fi</td><td>ﬁ</td><td><code>&amp;#64257;</code></td></tr>
  <tr><td class="definition">fl</td><td>ﬂ</td><td><code>&amp;#64258;</code></td></tr>
  <tr><td class="definition">ffi</td><td>ﬃ</td><td><code>&amp;#64259</code></td></tr>
  <tr><td class="definition">ffl</td><td>ﬄ</td><td><code>&amp;#64260;</code></td></tr>
  <tr><td class="definition">long s t</td><td>ﬅ</td><td><code>&amp;#64261;</code></td></tr>
  <tr><td class="definition">st</td><td>ﬆ</td><td><code>&amp;#64262;</code></td></tr>
  </tbody>
</table>

<h2>Italic</h2>
<table style="font-style: italic" summary="Sans table">
  <thead>
  <tr><th scope="col">Character</th><th scope="col">Ligature</th><th scope="col">Numeric reference</th></tr>
  </thead>
  <tbody>
  <tr><td class="definition">ff</td><td>ﬀ</td><td><code>&amp;#64256;</code></td></tr>
  <tr><td class="definition">fi</td><td>ﬁ</td><td><code>&amp;#64257;</code></td></tr>
  <tr><td class="definition">fl</td><td>ﬂ</td><td><code>&amp;#64258;</code></td></tr>
  <tr><td class="definition">ffi</td><td>ﬃ</td><td><code>&amp;#64259</code></td></tr>
  <tr><td class="definition">ffl</td><td>ﬄ</td><td><code>&amp;#64260;</code></td></tr>
  <tr><td class="definition">long s t</td><td>ﬅ</td><td><code>&amp;#64261;</code></td></tr>
  <tr><td class="definition">st</td><td>ﬆ</td><td><code>&amp;#64262;</code></td></tr>
  </tbody>
</table>

<h2>Other Characters</h2>
<table summary="Serif table">
  <thead>
  <tr><th scope="col">Character</th><th scope="col">Ligature</th><th scope="col">Numeric reference</th></tr>
  </thead>
  <tbody>
  <tr><td class="definition">Small sharp s, German (sz ligature)</td><td>ß</td><td><code>&amp;#223;</code></td></tr>
  <tr><td class="definition">Capital thorn, Icelandic</td><td>Þ</td><td><code>&amp;#222;</code></td></tr>
  <tr><td class="definition">Small thorn, Icelandic</td><td>þ</td><td><code>&amp;#254;</code></td></tr>
  <tr><td class="definition">Latin capital letter AE</td><td>Æ</td><td><code>&amp;#198;</code></td></tr>
  <tr><td class="definition">Latin small letter ae</td><td>æ</td><td><code>&amp;#230;</code></td></tr>
  <tr><td class="definition">Capital IJ ligature</td><td>Ĳ</td><td><code>&amp;#306;</code></td></tr>
  <tr><td class="definition">Lowercase ij ligature</td><td>ĳ</td><td><code>&amp;#307;</code></td></tr>
  <tr><td class="definition">Latin capital ligature OE</td><td>Œ</td><td><code>&amp;#338;</code></td></tr>
  <tr><td class="definition">Latin small ligature (misnomer) oe</td><td>œ</td><td><code>&amp;#339;</code></td></tr>
  <tr><td class="definition">Capital NJ ligature</td><td>Ǌ</td><td><code>&amp;#458;</code></td></tr>
  <tr><td class="definition">Leading capital Nj ligature</td><td>ǋ</td><td><code>&amp;#459;</code></td></tr>
  <tr><td class="definition">Lowercase nj ligature</td><td>ǌ</td><td><code>&amp;#460;</code></td></tr>
  <tr><td class="definition">Capital DZ ligature</td><td>Ǳ</td><td><code>&amp;#497;</code></td></tr>
  <tr><td class="definition">Leading capital Dz ligature</td><td>ǲ</td><td><code>&amp;#498;</code></td></tr>
  <tr><td class="definition">Lowercase dz ligature</td><td>ǳ</td><td><code>&amp;#499;</code></td></tr>
  </tbody>
</table>
