<h1>Licet hic rursus ea commemores, quae optimis verbis ab Epicuro de laude amicitiae dicta sunt.</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utinam quidem dicerent alium alio beatiorem! Iam ruinas
  videres. <a href="http://loripsum.net/" target="_blank">Tum mihi Piso: Quid ergo?</a> A primo, ut opinor, animantium
  ortu petitur origo summi boni. Duo Reges: constructio interrete. <a href="http://loripsum.net/" target="_blank">Scisse
    enim te quis coarguere possit?</a> Te enim iudicem aequum puto, modo quae dicat ille bene noris. </p>

<h2>At Zeno eum non beatum modo, sed etiam divitem dicere ausus est.</h2>

<p><i>Non potes, nisi retexueris illa.</i> Certe non potest. Nihil enim iam habes, quod ad corpus referas; <a
    href="http://loripsum.net/" target="_blank">Moriatur, inquit.</a> Minime vero, inquit ille, consentit. An tu me de
  L. </p>

<ol>
  <li>Habent enim et bene longam et satis litigiosam disputationem.</li>
  <li>Prioris generis est docilitas, memoria;</li>
  <li>Paupertas si malum est, mendicus beatus esse nemo potest, quamvis sit sapiens.</li>
</ol>


<blockquote cite="http://loripsum.net">
  Graece ergo praetor Athenis, id quod maluisti, te, cum ad me accedis, saluto: chaere, inquam, Tite! lictores, turma
  omnis chorusque: chaere, Tite! hinc hostis mi Albucius, hinc inimicus.
</blockquote>


<p>Nondum autem explanatum satis, erat, quid maxime natura vellet. Quorum altera prosunt, nocent altera. <code>Quid
    ergo?</code> <a href="http://loripsum.net/" target="_blank">Prave, nequiter, turpiter cenabat;</a> Quis istum
  dolorem timet? In qua quid est boni praeter summam voluptatem, et eam sempiternam? </p>

<p>Cur, nisi quod turpis oratio est?
  <mark>Nihilo beatiorem esse Metellum quam Regulum.</mark>
  Itaque hic ipse iam pridem est reiectus; <i>Sedulo, inquam, faciam.</i> Teneo, inquit, finem illi videri nihil dolere.
</p>

<p>Quam illa ardentis amores excitaret sui! Cur tandem? Quis non odit sordidos, vanos, leves, futtiles? Ita relinquet
  duas, de quibus etiam atque etiam consideret. Honesta oratio, Socratica, Platonis etiam. Sed fac ista esse non
  inportuna; </p>

<ul>
  <li>Non minor, inquit, voluptas percipitur ex vilissimis rebus quam ex pretiosissimis.</li>
  <li>Tecum optime, deinde etiam cum mediocri amico.</li>
  <li>Huius, Lyco, oratione locuples, rebus ipsis ielunior.</li>
  <li>Illo enim addito iuste fit recte factum, per se autem hoc ipsum reddere in officio ponitur.</li>
  <li>Philosophi autem in suis lectulis plerumque moriuntur.</li>
</ul>

<p>Quam illa ardentis amores excitaret sui! Cur tandem? Quis non odit sordidos, vanos, leves, futtiles? Ita relinquet
  duas, de quibus etiam atque etiam consideret. Honesta oratio, Socratica, Platonis etiam. Sed fac ista esse non
  inportuna; </p>
