<div class="font-sizes">
  <h3>Font Sizes</h3>
  <div class="font-lists">
    {{# fonts }}
      <ol class="sg-scale" style="font-family: {{value}};">
        <li>{{ headline.short }}</li>
        <li>{{ headline.short }}</li>
        <li>{{ headline.short }}</li>
        <li>{{ headline.short }}</li>
        <li>{{ headline.short }}</li>
        <li>{{ headline.short }}</li>
        <li>{{ headline.short }}</li>
        <li>{{ headline.short }}</li>
        <li>{{ headline.short }}</li>
        <li>{{ headline.short }}</li>
        <li>{{ headline.short }}</li>
        <li>{{ headline.short }}</li>
        <li>{{ headline.short }}</li>
        <li>{{ headline.short }}</li>
      </ol>
    {{/fonts}}
  </div>
</div>
