<div class="validation-notice" {{# force_show }}style="display: block"{{/force_show}}>Invalid content</div>
<div class="required-notice" {{# force_show }}style="display: block"{{/force_show}}>This field is required.</div>
