<div class="byline {{#block_class}}{{block_class}}__byline{{/block_class}} {{#modifier_class}}byline--{{modifier_class}}{{/modifier_class}}">
  By <a href="" class="author--link">Phoebe Reilly</a> |
  Photos by <a href="" class="author--link">Carlos Serrao</a>
</div>
