
<div class="radio-buttons">
  <input type="radio" id="radio-1" checked="checked"> <label class="option" for="radio-1">Nam tincidunt duis </label>
  <input type="radio" id="radio-2"> <label class="option" for="radio-2">Aliquam lorem neque </label>
  <input type="radio" id="radio-3"> <label class="option" for="radio-3">Duis lobortis egestas </label>
  <input type="radio" id="radio-4"> <label class="option" for="radio-4">Lacinia ac cras </label>
  <input type="radio" id="radio-5"> <label class="option" for="radio-5">Mi dignissim viverra </label>
</div>
